li {
    list-style-type: none;
}

.linkme {
    //color: #579f6a;
    color: #D15F59;
}

#about h1 {
    color: #D15F59;
}

.featureimg {
    margin: 20px 0px;
}

.mar-btm-lg {
    margin-bottom: 40px;
}

.img-sm {
    width: 25%;
}
.img-md {
    width: 50%;
}

/* ACHIEVERS */
/* TAKE YOUR PICK */

.takeyourpick>.noteCard>.final>img {
    display: inline;
}

/* MOBILE ACTION */
/* DASHBOARD */

.sidebarimg>img {
    margin-left: 25%;
}


.hideme {
    display: none;
}