li {
    list-style-type: none;
}

.linkme {
    //color: #579f6a;
    color: #45ADA8;
}

#about h1 {
    color: #45ADA8;
}

.featureimg {
    margin: 20px 0px;
}

.mar-btm-lg {
    margin-bottom: 40px;
}

.img-sm {
    width: 25%;
}
.img-md {
    width: 50%;
}
.img-lg {
    width: 75%;
}


.li-space li {
    border-bottom: 1px solid rgba(167, 227, 181, 0.5);
    padding-bottom: 5px;
}

/* ACHIEVERS */
/* TAKE YOUR PICK */

.takeyourpick>.noteCard>.final>img {
    display: inline;
}

/* MOBILE ACTION */
/* DASHBOARD */

.img-center>img {
    margin-left: 25%;
}


.hideme {
    display: none;
}

.btn-green, .btn-green:focus, .btn-green:active, .btn-green:hover {
    background-color: #45ADA8 !important;
    color: #ffffff !important;
}